.OtpVerify{
    .Contain{
      display: flex;
    align-items: center;
    flex-direction: column;
    height:500px;
    aspect-ratio: 11/12;
    box-shadow: 0px 0px 1px black;
    padding: 50px;
    form{
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      margin: 30px;
      input{
        border: 0.5px solid rgba(225, 225, 225, 0.8);
        outline: none;
        padding: 10px;
      }
      .btn{
        display: flex;
        align-items: center;
        justify-content:space-around;
        height: 40px;
        width: 200px;
        background-color:white;
        border: none;
        box-shadow: 0px 0px 1px black;
        margin-top: 30px;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover{
          box-shadow: 0px 0px 3px black;
        }
        p{
          font-size: 15px;
          
        }
      }
    }
    form>*{
      margin:6px;
    }
  }
}